<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/m1_ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/m1_ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestDB"
        tools:targetApi="31">
        <activity
            android:name=".M1_SearchSong"
            android:windowSoftInputMode="adjustNothing"
            android:label="Wellness and Relaxation Module"
            android:parentActivityName=".M1_PlaylistInside"
            android:exported="false" />
        <activity
            android:name=".M1_VideoPlaylistInside"
            android:exported="false"
            android:label="Meditation Videos"
            android:parentActivityName=".M1_MainActivity"/>
        <activity
            android:name=".M1_VideoPlayer"
            android:label="Video Player"
            android:exported="false" />
        <activity
            android:name=".M1_AddSongToPlaylist"
            android:label="Add Songs Into Playlist"
            android:exported="false" />
        <activity
            android:name=".M1_MusicPlayer"
            android:label="Music Player"
            android:exported="false"
            />
        <activity
            android:name=".M1_PlaylistInside"
            android:exported="false"
            android:parentActivityName=".M1_MainActivity"/>
        <activity
            android:name=".M1_AddPlaylist"
            android:label="Create Playlist"
            android:exported="false"
            />
        <activity
            android:name=".M1_MainActivity"
            android:label="Wellness and Relaxation Module"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>